app-controls {
    position: absolute;
    top: 10px; 
    right: 10px;
    z-index: 1;
}

#logoutButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 2rem;
    z-index: 2;
    width: 6rem;
    margin-left: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 0.1875rem;
    background-color: black;
    color: white;
    font-size: medium;
    &:hover {
        background-color: #333;
        color: #fff;
    }
}

@media (max-width: 1200px) {
  app-controls,
  #logoutButton {
    bottom: 20px;
    right: 20px;
    top: auto;
    margin-left: 0.5rem;
    cursor: pointer;
    border: none;
    border-radius: 0.1875rem;
    background-color: black;
    color: white;
    font-size: medium;
    &:hover {
        background-color: #333;
        color: #fff;
    }
  }

  app-controls {
    bottom: 70px;
  }
}

app-network-services-modal{
    position: absolute;
    z-index: 1;
    left: 30%;
    top: 20%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 45%;
}

.map-container {
    position: relative;
    width: 100%;
    height: 700px;
  }
  
  #map {
    width: 100%;
    height: 100%;
  }
  
  #autocomplete {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width: 40%;
    height: 3%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  #logoutButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
  }
  
  .spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    diameter: 50;
    mode: 'indeterminate';
  }
  
